@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@600&display=swap');

*{
    font-family: 'Golos Text', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

body{
    background-image: url(./assets/hongos1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 1204px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora{
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color: #709775;
    padding: 15px;
    border-radius: 32px;
    box-shadow: 17px 19px 58px -18px rgba(250,250,250,0.5);
}

button{
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 25px;
    font-size: 1.5em;
    border: none;
    background-color: #709775;
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px  3px  #00ffc11f;
}

button:active{
    background-color: #415d43;
}

button:focus{
    outline: none;
}

.col-2{
    grid-column: span 2;
}

.display{
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #363636;
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 4px 2px 22px 0px rgba(0,0,0,0.75);
    
}

#valorActual{
    font-size: 1.5em;
}

#valorAnterior{
    font-size: 2em;
}
